# Core API
fastapi
uvicorn

# Frontend
streamlit

# LangChain Ecosystem
langchain>=0.3.15,<0.4.0
langchain-core>=0.3.31,<0.4.0
langchain-community>=0.3.0,<0.4.0
langchain-text-splitters>=0.3.0,<0.4.0
langchain-openai>=0.3.0,<0.4.0
langgraph>=0.2.60
openai>=1.50.0
yt-dlp

pydantic
pydantic-settings
python-dotenv
httpx

sentence-transformers
tavily-python
faster_whisper 
pydub